body {
  font-family: Arial, sans-serif;
  background: #f7f7f7;
  margin: 0;
  padding: 0;
}

.Homebtn {
  background-color: #080808;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 2px;
  border-radius: 5px;
}

.Homebtn:hover {
  background-color: #45a049;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  font-size: 25px;
}

th {
  background-color: #cecbcb;
}

#clear-cart-button {
  background-color: #080808;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 10px 2px;
  border-radius: 5px;
}

#clear-cart-button:hover {
  background-color: #3e8e41;
}

button {
  background-color: #080808;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 10px 2px;
  border-radius: 5px;
}

button:hover {
  background-color: #3e8e41;
}

.info-text {
  font-size: 20px;
  color: #f15353;
  margin-top: 10px;
  margin-bottom: 20px;
}

button[disabled] {
  background-color: #cccccc;
  color: #999999;
  cursor: not-allowed;
}
